:root {
    --color-black: #000000;
    --color-white: #ffffff;
    --color-secondary: #6B90DC;
    --color-gray-100: #F1F2F4;
    --color-gray-200: #DEE0E3;
    --color-gray-300: #999999;
    --color-gray-400: #333333;
    --color-primary-100: #03C75A;
    --color-primary-100: #0AAE4F;
  }